name: Publish Package

on:
    push:
        branches:
            - main

permissions:
    id-token: write
    contents: read

jobs:
    check-if-tag:
        name: Check if Tag is Present
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - name: Get the tag from Python and check if it's present
              run: |
                pip install toml
                VERSION=$(python -c "import toml; print(toml.load('pyproject.toml')['project']['version'])")
                if git tag -l "v$VERSION" | grep -q .; then
                    echo "Tag v$VERSION is present"
                else
                    echo "Tag v$VERSION is not present"
                    echo "TAG_NOT_PRESENT=true" >> $GITHUB_OUTPUT
                fi

    publish:
        name: Publish Package to PyPI
        runs-on: ubuntu-22.04
        needs: check-if-tag
        if: needs.check-if-tag.outputs.TAG_NOT_PRESENT == 'true'
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: "3.14"
            - run: pip install build twine
            - run: pip install -e ".[dev]"
            - run: python -m build
            - name: Publish release distributions to PyPI
              uses: pypa/gh-action-pypi-publish@v1.13.0
